$color:red;

$base_menu_width:260px;
$base_menu_background:#483D8B;
$base_menu_text_color:#ffffff;
$base_menu_active_text_color:#ff0000;
$base_menu_fold_width:60px;

$base_taber_height:60px;
$base_taber_background:linear-gradient(to right,#483D8B , #c5c0f6); 
$base_taber_text_color:rgb(0, 0, 0); 

$base_menu_logo_height:50px;
$base_menu_logo_color:#ff0000;

$base_logo_title_fontsize:30px;